---
import Layout from "../layouts/Layout.astro";

// EXAMPLE - Get user details from auth.users using the Astro-specific server client

import { createClient } from "../lib/supabase";

const supabase = createClient.astro(Astro);

const { data: user, error } = await supabase.auth.getUser();

if (error) {
  console.error("Error fetching user:", error);
}
---

<Layout title="Dashboard Demo">
  <div class="flex flex-col items-center justify-center flex-1">
    <div class="bg-gray-100 py-6 px-8 rounded-md border border-gray-300">
      <p class="text-xl font-semibold mb-3">Welcome!</p>
      <p class="text-sm mb-1">User id: {Astro.locals.userId}</p>
      <p class="text-sm mb-1">Email: {Astro.locals.email}</p>
      {
        user && (
          <div class="">
            <pre class="text-xs mt-6 overflow-x-auto">
              {JSON.stringify(user.user, null, 2)}
            </pre>
          </div>
        )
      }
    </div>
  </div>
</Layout>
