---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
  <div class="flex flex-col items-center justify-center flex-1">
    <div class="bg-gray-100 py-6 px-8 rounded-md border border-gray-300">
      <p class="text-xl font-semibold mb-3">Welcome!</p>
      <p class="text-sm mb-1">User id: {Astro.locals.userId}</p>
      <p class="text-sm">Email: {Astro.locals.email}</p>
    </div>
  </div>
</Layout>
